@tailwind base;
@tailwind components;
@tailwind utilities;

.absolute-center {
    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.flex-center {
    @apply flex justify-center items-center;
}

.custom-btn{
@apply mx-1 border border-warm-gray p-1 text-sky-500  hover:text-white hover:bg-sky-500 transition-all duration-300;
}

.custom-btn2{
    @apply mx-1 p-3  bg-gray-50 text-sky-500  hover:text-white hover:bg-sky-500 transition-all duration-300;
}

.tab-btn{
@apply w-full flex items-center text-start p-4 hover:ring-2 hover:bg-sky-500 hover:text-white transition-colors duration-300;
}

.font-teko, h1,h3,h4,a {
    font-family: var(--font-teko);
}


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }

    /* Apply the utility within a group */
    .group:focus .no-scrollbar::-webkit-scrollbar {
        display: auto;
    }

    .group:focus .no-scrollbar {
        -ms-overflow-style: auto;
        scrollbar-width: auto;
    }
}


html {
    scroll-behavior: smooth;
}

body {
    scroll-behavior: smooth;
}

