name: Deploy Next.js site to Pages

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Detect package manager
        id: detect-package-manager
        run: |
          for file in yarn.lock pnpm-lock.yaml package.json; do
            if [ -f "${{ github.workspace }}/$file" ]; then
              echo "manager=$file" >> $GITHUB_ENV
              echo "command=install" >> $GITHUB_ENV
              echo "runner=$(basename $file .lock)" >> $GITHUB_ENV
              exit 0
            fi
          done
          echo "Unable to determine package manager"
          exit 1

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: ${{ steps.detect-package-manager.outputs.manager }}

      - name: Setup Pages
        uses: actions/configure-pages@v2
        with:
          static_site_generator: next

      - name: Restore cache
        uses: actions/cache@v2
        with:
          path: |
            .next/cache
          key: ${{ runner.os }}-nextjs-${{ hashFiles('**/*lock*') }}-${{ hashFiles('**/*.[jt]s*', '**/*.tsx') }}
          restore-keys: |
            ${{ runner.os }}-nextjs-${{ hashFiles('**/*lock*') }}-

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install dependencies using pnpm
        run: pnpm install

      - name: Build with Next.js
        run: pnpm run build

      - name: Static HTML export with Next.js
        run: pnpm run export

      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: pages-artifact
          path: ./out

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v2
